@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hamburguer {
    display: none;
}

.barraDeBusca input[type='text'] {
    width: 400px;
    float: left;
    border: none;
    padding-left: 15px;
    border-radius: 50px 0 0 50px;
    height: 25px;
}

.barraDeBusca button {
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
}

header {
    background: linear-gradient(89.96deg, rgba(7, 37, 95, 0.8556) 4.11%, rgba(15, 14, 39, 0.6164) 81.75%);
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.alinhamento {
    width: 1200px;
    margin: 0 auto;
}

.cabeçalho {
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.barra {
    background-color: #1B1B31;
}

.barraDeBusca {
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

input {
    width: 422.54px;
    height: 25px;
    border-radius: 22px;
}

.Buscar {
    padding-left: 15px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
    width: 600px;
}



.menu {
    background-color: #1B1B31;
}

nav {
    height: 40px;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    justify-content: space-around;
    font-size: 20px;
}

a {
    color: white;
    text-decoration: none;
}

.promoções {
    color: #d60a0a;
}

#carrossel {
    height: 576px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner {
    height: 459px;
}

.click-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 459px;
    width: 888px;
}

.banner-1 {
    background-image: url(img/bannersale.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.banner-2 {
    background-image: url(img/banner-2.svg);
    background-repeat: no-repeat;
    background-position: center;


}

.banner-3 {
    background-image: url(img/banner-3.svg);
    background-repeat: no-repeat;
    background-position: center;


}

.sale {
    color: #D7CEC7;
    font-family: 'Roboto', sans-serif;
    font-size: 200px;
    font-weight: 900;
    display: flex;
    transform: rotate(270deg);
    justify-content: center;
    padding-top: 250px;



}


.marcas {
    height: 50px;
    background-color: #b6b6a5;
}

.posicionamento-marcas {
    height: 100%;
    text-decoration: none;
}

.container {
    max-width: 1200px;
}

.conteudo {

    background-color: #1B1B31;
    height: 344px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produtos {
    display: flex;
    justify-content: space-around;
}


.divisao {
    background-color: #D4D4C5;
    height: 50px;
}

footer {
    background-color: #1B1B31;
    height: 346px;
    display: flex;
    align-items: center;
}

.titulos {
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10px;
}

.conteudos {
    text-transform: initial;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.lugarfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 211px
}

.titulos2 {
    text-transform: initial;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.icones-redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulos3 {
    text-transform: initial;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulos3 input[type='email'] {
    font-size: 15px;
    display: flex;
    align-items: center;
    height: 25px;
    width: 245px;
    float: left;
    border: none;
    padding-left: 15px;
    border-radius: 50px 0 0 50px;
}

.titulos3 button {
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    border: none;
    border-radius: 0 50px 50px 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: black;
    color: white;
}

.fundo-banner {
    background-color: #D4D4C5;
    height: 576px;
    display: flex;
    align-items: center;

}

.login {
    height: 660px;
    background-color: #1B1B31;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo {
    height: 530px;
    width: 400px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0.01%, rgba(255, 255, 255, 0.04) 100%);
    border-radius: 40px;
    display: flex;

    align-items: center;
    flex-direction: column;

}

.icon-usuario {
    width: 95px;
    padding-bottom: 80px;
    padding-top: 30px;

}

.email {
    width: 300px;
    margin-top: 20px;
    text-align: center;
    border-style: none;


}

.senha {
    width: 300px;
    margin-top: 20px;
    text-align: center;
    border-style: none;
}

.campo-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.enviar {
    width: 75px;
    margin-top: 20px;
    background-color: #A0A08A21;
    color: white;
    border-radius: 30px;
    border-style: none;

}



@media screen and (max-width:1230px) {
    .alinhamento {
        width: 1024px;
    }

}

@media screen and (max-width:1054px) {
    .alinhamento {
        width: 768px;
    }

    .conteudo {
        height: 950px;
    }

    .produtos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .card1 {
        padding-bottom: 15px;
    }

    .card2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    .card3 {
        padding-top: 15px;
        padding-bottom: 15px;
    }


    .card4 {
        padding-top: 15px;
    }

    .lugarfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: 700px;

    }

    .marcas {
        display: none
    }

}

@media screen and (max-width:790px) {
    .alinhamento {
        width: 480px;
    }

    #hamburguer {
        display: inline-block;
        display: flex;
        justify-content: flex-end;
    }

    .usuario {
        display: none;
    }

    .carrinho {
        display: none
    }

    .nav {
        position: absolute;
        top: 145px;
        left: 0;
        width: 100%;
        height: 180px;
        display: flex;
        flex-direction: column;
        background-color: #1B1B31
    }

}