@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(89.96deg, rgba(7, 37, 95, 0.8556) 4.11%, rgba(15, 14, 39, 0.6164) 81.75%);
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cabeçalho {
    height: 85px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.alinhamento {
    width: 1200px;
    margin: 0 auto;
    height: 85px;
}

.barra {

    background-color: #1B1B31;
}

.barraDeBusca {
    width: 1200px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

input {
    width: 422.54px;
    height: 25px;
    border-radius: 22px;
}

.Buscar {
    padding-left: 15px;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 100%;
}

.usuario {
    padding-right: 100px;
}

.carrinho {
    padding-left: 100px;
}

.menu {
    height: 20px;
    width: 1200px;
}

.alinhamentoMenu {
    background-color: #1B1B31;
}

a {
    color: white;
    text-decoration: none;
}

nav {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    text-align: center;
}

.nav {
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

.promoções {
    color: #d60a0a;
}